@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,500;1,400;1,700&display=swap');
@import '_var';
@import 'mixin';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: $font;
  font-size: 16px;
  color: $blue;
}

ul {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  @include mobile {
    font-size: 40px;
  }
}

h2 {
  font-size: 40px;
  line-height: 44px;
  @include mobile {
    font-size: 30px;
  }
}

p {
  letter-spacing: -0.71px;
  line-height: 26px;
  opacity: 51%;
}

a {
  text-decoration: none;
}

.btn {
  padding: 10px 20px;
  border-radius: 50px;
  background : $orange;
  color: $white;
  &.btn-shadow {
    box-shadow: 0 2px 5px $orange-shadow;
  }
  &.btn-secondary {
    background: $white;
    color: $orange;
    &.btn-shadow {
      box-shadow: 0 5px 10px #DB5943;
    }
  }
}

main {
  max-width: 1110px;
  margin: 0 auto;
}

.container {
  position: relative;
  overflow-x: hidden;
  &::before {
    content:'';
    position: absolute;
    background: url('../images/bg-simplify-section-desktop.svg');
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
  }
}

/*
  Header
----------------------*/
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-top: 60px;
  .nav-links {
    display: flex;
    @include mobile {
      flex-direction: column;
      background-color: aliceblue;
      visibility: hidden;
      width: 0;
      height: 0;
    }
    .link:not(:last-of-type) {
      margin-right: 30px;  
    }
  }
  @include mobile {
    padding: 40px 20px 0 20px;
    a {
      display: none;
    }
  }
}

/*
  Intro
----------------------*/
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 120px auto;
  @include mobile {
      padding: 20px;
      margin-top: 40px;
      flex-direction: column;
  }
  .intro-text {
    max-width: 450px;
    & > h1 {
      margin-bottom: 20px;
    }
    & > p {
      display: block;
      max-width: 350px;
      margin-bottom: 40px;
    }
  }
  .intro-illustration {
    width: 50%;
  }
}

/*
  About
----------------------*/
.about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include mobile {
    padding: 20px;
    flex-direction: column;
  }
  .about-summary {
    min-width: 50%;
    h2 {
      margin-bottom: 30px;
    }
    .about-content {
      width: 400px;
    }
  }
  .about-list{
    display: flex;
    flex-direction: column;
    @include mobile {
      width: 100%;
    }
    .about-list-item {
      display: grid;
      grid-template-columns: 70px auto;
      grid-template-areas: "number title"
                            ". desc";
      column-gap: 10px;
      margin-bottom: 40px;
      @include mobile {
       grid-template-areas: "number title"
                            "desc desc";
        row-gap: 10px;
        .index {
          position: relative;
          &::after {
            content: '';
            width: 470px;
            height: 40px;
            background: $orange-light;
            z-index: -1;
            position: absolute;
            left: 30px;
          }
        }
      }
      .index {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $orange;
        color: $white;
        height:40px;
        min-width: 70px;
        border-radius: 40px;
        grid-area: number;
      }
      .title-wrapper {
        grid-area: title;
        display: flex;
        align-items: center;
      }
      .description {
        grid-area: desc;
      }
    }
  }
}

/*
  Testimonials
----------------------*/

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 170px;
}

.testimonials-cards-container {
  display: flex;
  align-content: center;
  overflow-x: scroll;
  max-width: 100vw;
  padding: 40px 0;
  .testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 540px;
    height: 220px;
    background: $gray-light;
    position: relative;
    .avatar {
      width: 72px;
      height: 72px;
      position: absolute;
      top: -36px;
    }
    .name {
      margin-top: 46px;
    }
    .testimonial {
      text-align: center;
    }
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}

/*
  Get started
----------------------*/
.get-started {
  position: relative;
  background: $orange;
  color: $white;
  width: 100%;
  padding: 60px 170px;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 220px;
    width: 100%;
    @include mobile {
      flex-direction: column;
      height: auto;
    }
  }
  @include mobile {
    padding: 60px 35px;
  }
  &::after {
    content: '';
    position: absolute;
    background: url('../images/bg-simplify-section-desktop.svg');
    width: 100%;
    height: 100%;
    opacity: .071;
    top: 0;
  }
}

/*
  Footer
----------------------*/
.footer {
  background: $black;
  color: $white;
  padding: 20px;
  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 130px;
    width: 100%;
    margin: 0 auto;
    max-width: 1110px;;
    @include mobile {
      height: auto;
      width: 330px;
      align-content: center;
      .social {
        order: 3;
      }
      .logo {
        order: 4;
      }
      .contact-form {
        order: 1;
        margin-bottom: 55px;
      }
      .sitemap {
        order: 2;
        .link a {
          width: auto;
        }
      }
      .copyright {
        order: 5;
      }
    }
  }
  .logo-title {
    fill: $white;
  }
  .links-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 130px;
  }
  .link a{
    display: block;
    margin-bottom: 10px;
    color: $white;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.23px;
    &:hover {
      color: $orange;
    }
  }
  .social {
    a {
      margin-right: 10px;
      &:hover  path {
        fill: $orange;
      }
    }
  }
  .contact-form, .copyright {
    align-self: flex-end;
  }
  input {
    padding: 10px 20px;
    border-radius: 22px;
    border: none;
    width: 220px;
    height: 44px;
    color: $gray;
    font-family: $font;
    font-size: 13px;
    letter-spacing: -0.1px;
  }
  button {
    border: none;
    height: 44px;
    width: 64px;
    border-radius: 22px;
  }
  .copyright {
    font-size: 13px;
    opacity: 50%;
  }
}

.attribution {
  position: relative;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  a {
    color: $orange;
  }
  > p {
    letter-spacing: .4px; 
    opacity: 1;
  }
  .love {
    margin: 0 5px;
  }
  &::after {
    content: '';
    position: absolute;
    background: url('../images/bg-simplify-section-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: .071;
    top: 0;
  }
}