@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,500;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Be Vietnam", sans-serif;
  font-size: 16px;
  color: #242D52; }

ul {
  list-style: none; }

h1, h2, h3 {
  font-weight: 700; }

h1 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px; }

h2 {
  font-size: 40px;
  line-height: 44px; }

p {
  letter-spacing: -0.71px;
  line-height: 26px;
  opacity: 51%; }

a {
  text-decoration: none; }

.btn {
  padding: 10px 20px;
  border-radius: 50px;
  background: #F3603C;
  color: #fff; }
  .btn.btn-shadow {
    box-shadow: 0 2px 5px #FF9F8E; }
  .btn.btn-secondary {
    background: #fff;
    color: #F3603C; }
    .btn.btn-secondary.btn-shadow {
      box-shadow: 0 5px 10px #DB5943; }

.container {
  position: relative; }
  .container::before {
    content: '';
    position: absolute;
    background: url("../images/bg-simplify-section-desktop.svg");
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    background-repeat: no-repeat; }

/*
  Header
----------------------*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 170px;
  width: 100%;
  align-items: center; }
  .header .nav-links {
    display: flex; }
    @media (max-width: 500px) {
      .header .nav-links {
        flex-direction: column;
        background-color: aliceblue;
        visibility: hidden; } }
    .header .nav-links .link:not(:last-of-type) {
      margin-right: 30px; }

/*
  Intro
----------------------*/
.intro {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 60px 170px; }
  @media (max-width: 500px) {
    .intro {
      flex-direction: column; } }
  .intro .intro-text {
    width: 445px; }
  .intro .intro-illustration {
    width: 540px; }

/*
  About
----------------------*/
.about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 60px 170px; }
  @media (max-width: 500px) {
    .about {
      flex-direction: column; } }
  .about .about-summary {
    min-width: 445px; }
    .about .about-summary h2 {
      margin-bottom: 30px; }
    .about .about-summary .about-content {
      width: 400px; }
  .about .about-list {
    display: flex;
    flex-direction: column;
    min-width: 540px; }
    .about .about-list .about-list-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 40px; }
      .about .about-list .about-list-item .index {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F3603C;
        color: #fff;
        height: 40px;
        min-width: 70px;
        border-radius: 40px;
        margin-right: 25px; }
      .about .about-list .about-list-item .title {
        margin-top: 10px;
        margin-bottom: 30px; }

/*
  Testimonials
----------------------*/
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 170px; }

.testimonials-cards-container {
  display: flex;
  align-content: center;
  overflow-x: scroll;
  max-width: 100vw;
  padding: 40px 0; }
  .testimonials-cards-container .testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 540px;
    height: 220px;
    background: #FAFAFA;
    position: relative; }
    .testimonials-cards-container .testimonial-card .avatar {
      width: 72px;
      height: 72px;
      position: absolute;
      top: -36px; }
    .testimonials-cards-container .testimonial-card .name {
      margin-top: 46px; }
    .testimonials-cards-container .testimonial-card .testimonial {
      text-align: center; }
    .testimonials-cards-container .testimonial-card:not(:last-of-type) {
      margin-right: 10px; }

/*
  Get started
----------------------*/
.get-started {
  position: relative;
  background: #F3603C;
  color: #fff;
  width: 100%;
  padding: 60px 170px; }
  .get-started .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 220px;
    width: 100%; }
  .get-started::after {
    content: '';
    position: absolute;
    background: url("../images/bg-simplify-section-desktop.svg");
    width: 100%;
    height: 100%;
    opacity: .071;
    top: 0; }

/*
  Footer
----------------------*/
.footer {
  background: #1D1E25;
  color: #fff;
  padding: 60px 170px; }
  .footer .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 130px;
    width: 100%;
    margin: 0 auto; }
  .footer .logo-title {
    fill: #fff; }
  .footer .links-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 130px; }
  .footer .link a {
    display: block;
    width: 255px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.23px; }
    .footer .link a:hover {
      color: #F3603C; }
  .social
.footer > a:hover path {
    fill: #F3603C; }
  .footer .contact-form, .footer .copyright {
    align-self: flex-end; }
  .footer input {
    padding: 10px 20px;
    border-radius: 22px;
    border: none;
    width: 220px;
    height: 44px;
    color: #8D8D8D;
    font-family: "Be Vietnam", sans-serif;
    font-size: 13px;
    letter-spacing: -0.1px; }
  .footer button {
    border: none;
    height: 44px;
    width: 64px;
    border-radius: 22px; }
  .footer .copyright {
    font-size: 13px;
    opacity: 50%; }

.attribution {
  position: relative;
  padding: 10px;
  text-align: center;
  font-size: 12px; }
  .attribution a {
    color: #F3603C; }
  .attribution > p {
    letter-spacing: .4px;
    opacity: 1; }
  .attribution .love {
    margin: 0 5px; }
  .attribution::after {
    content: '';
    position: absolute;
    background: url("../images/bg-simplify-section-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: .071;
    top: 0; }
